:root {
    --primary-color: rgb(4, 155, 255);
    --primary-color-darker: rgb(2, 44, 83);
}

* {
    box-sizing: border-box;  
    outline: 0;
}
 
body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto; /*O primeiro é referente ao top e bottom, o segundo às laterais.*/
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 13px rgba(61, 61, 61, 0.374);
}


form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;  
    border-radius: 2px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0px 20px;
}

form input:focus { /*Focus é quando clica*/
    outline: 1px solid var(--primary-color);
    background-color: rgb(255, 255, 228);
    color: white;
    color: black;
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
}

form button:hover{
    background-color: var(--primary-color-darker);
    transition: 1s;
}

.paragrafo-resultado, .bad {
    background-color:rgb(109,255,182);
    padding: 10px 20px;
}

.bad {
    background-color: red;
}

